.columns > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columns.reverse > div {
    flex-direction: column-reverse;
}

.columns img {
    width: 100%;
}

@media (min-width: 900px) {
    .columns > div,
    .columns.reverse > div {
        display: flex;
        align-items: center;
        flex-direction: unset;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .columns > div > div {
        flex: 1;
        margin-left: 32px;
        flex-basis: fit-content;
    }

    .columns > div > div:first-of-type {
        margin-left: unset;
    }
}