/* block specific CSS goes here */

main .hero-container>div {
    max-width: unset;
}

main .hero-container {
    padding: 0;
}

main .hero {
    position: relative;
    min-height: 300px;
    margin: 0 2rem;
}

main .hero h1 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-text-light);
    ;
}

main .hero.light h1 {
    color: var(--color-text);
}


main .hero:not(.columns) picture {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    box-sizing: border-box;
}

main .hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

main .hero.small img {
    width: auto;
    max-height: 400px;
}

.section.meta-background-image .hero {
    padding-top: 6rem;
}

@media (min-width: 900px) {
    main .hero {
        margin: 0 8rem;
        padding: 0 32px;
    }

    main .hero.small img {
        max-height: 500px;
    }
}
