/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --color-highlight: #0879f9;
  --color-highlight-background: #ccc;
  --color-secondary: #686868;
  --color-overlay-text: #5c5c5c;
  --color-overlay-background: #fff;
  --color-background: #fff;
  --color-background-dark: #258cff;
  --color-background-dark-light: #95c7ff;
  --color-text: #000;
  --color-text-light: #fff;
  --color-link: inherit;
  --color-link-hover: #0879f9;
  --color-button-text: #fff;
  --color-button-background: #0879f9;
  --color-button-disabled: #eee;
  --color-footer-link: #fff;
  --color-footer-link-hover: #3144cf;

  /* gradients */
  --gradient-background-dark: linear-gradient(5deg, #95c7ff, #248bff);

  /* fonts */
  --body-font-family: gotham, 'helvetica neue', helvetica, ubuntu, roboto, noto, sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 16px;
  --body-font-size-s: 16px;
  --body-font-size-xs: 14px;

  /* heading sizes */
  --heading-font-size-xxl: 38px;
  --heading-font-size-xl: 26px;
  --heading-font-size-l: 24px;
  --heading-font-size-m: 22px;

  /* sub headings */
  --heading-font-size-s: 18px;
  --heading-font-size-xs: 16px;
  --color-subheading: #686868;

  /* font weight */
  --font-weight-bold: 600;
  --font-weight-regular: 400;
  --font-weight-light: 200;

  /* nav height */
  --nav-height: 80px;
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.2;
  color: var(--color-text);
  background-color: var(--color-background);
  font-weight: var(--font-weight-regular);
  display: none;

  /* overflow-x: hidden; */
}

main {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  /* overflow-x: hidden;
  overflow-y: initial; */
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--font-weight-bold);
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl)
}

h2 {
  font-size: var(--heading-font-size-xl)
}

h3 {
  font-size: var(--heading-font-size-l)
}

h4 {
  font-size: var(--heading-font-size-m)
}

h5 {
  font-size: var(--heading-font-size-s);
  color: var(--color-subheading)
}

h6 {
  font-size: var(--heading-font-size-xs);
  color: var(--color-subheading)
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

a:any-link {
  text-decoration: none;
}

.clickable-area {
  position: relative;
}

a.clickable-area-link {
  z-index: 100;
}

a.clickable-area-link::before {
  bottom: 0;
  content: "";
  cursor: pointer;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  white-space: nowrap;
  z-index: 10;
}

a:hover {
  color: var(--color-link-hover);
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code,
samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

/* buttons */

a.button:any-link,
button {
  display: inline-block;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 10px 15px;
  text-align: center;
  font-style: normal;
  cursor: pointer;
  color: var(--color-button-text);
  background-color: var(--color-button-background);
  margin: 16px 0;
  line-height: 1.3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 10px;
  font-size: var(--body-font-size-s);
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  color: var(--color-button-background);
  background-color: var(--color-button-text);
  border-color: var(--color-button-background);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--color-button-disabled);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 3px solid currentcolor;
  color: var(--color-button-background)
}

a.button.secondary:hover,
button.secondary:hover {
  color: var(--color-button-text);
  background-color: var(--color-button-background);
  border-color: transparent
}


main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--color-text);
  color: var(--color-text);
  background-color: var(--color-background);
}

main input:hover {
  border: 1px solid var(--color-text);
}

main .section {
  padding: 0 16px;
  margin: auto;
}

main .section.xs {
  max-width: 600px;
}

main .section.s {
  max-width: 700px;
}

main .section.m {
  max-width: 800px;
}

main .section.l {
  max-width: 1000px;
}

main .section.xl {
  max-width: 1200px;
}

main .section.xxl {
  max-width: 1400px;
}

main .section.center {
  text-align: center;
}

main .section.full {
  padding: 0;
}

main .section.dark {
  color: var(--color-text-light);
  background-image: var(--gradient-background-dark);
}

main .section.dark-header h1,
main .section.dark-header h2,
main .section.dark-header h3 {
  color: var(--color-text-light);
}

main .section > .default-content-wrapper > h1,
main .section > .default-content-wrapper > h2,
main .section > .default-content-wrapper > h3 {
  padding-top: 32px;
  padding-bottom: 16px;
}

main pre {
  background-color: var(--color-overlay-background);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--color-overlay-background);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

@media (min-width: 600px) {
  main .section {
    padding: 0 32px;
  }
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 40px;
    --heading-font-size-xl: 28px;
    --heading-font-size-l: 26px;
    --heading-font-size-m: 24px;
    --heading-font-size-s: 18px;
    --heading-font-size-xs: 16px;
  }

  main {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .section>div {
    max-width: 1200px;
    margin: auto;
  }
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section.highlight em {
  color: var(--color-highlight);
  font-style: inherit;
}

/* section meta */
main .section.meta-background-image {
  position: relative;
}

main .section.meta-background-image::after {
  content: var(--meta-background-image);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  z-index: -100;
}

main .section.meta-background-filter::after {
  filter: var(--meta-background-filter);
}

main .section.meta-background-transform::after {
  transform: var(--meta-background-transform);
}

main .section.meta-background-color::after {
  background-color: var(--meta-background-color);
}